/* totp-generator.component.css */
.totp-generator {
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 20px 5vw;
  width: fit-content;
  /*max-width: 400px;*/
  height: fit-content;
  margin: 12vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h2 {
  /*border: 1px solid red;*/
  color : white;
  font-size: 2.5rem;
  margin: 20px;
}

.input-group {
  margin-bottom: 15px;
  width: 100%;
  text-align: left;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input,
select {
  width: 26vw;
  height: 50px;
  padding: 8px;
  font-size: 16px;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.output {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  color: #adadad;
}

strong {
  color: #ff5733; /* Example color for the generated TOTP */
}

.error {
  color: red;
  font-weight: bold;
}

.output > .timer-progress-bar {
  /*border: 1px solid red;*/
  margin: 10px auto;
}
