/* totp-generator.component.css */
.totp-generator {
  border: 2px solid #000000;
  background-color: #132333;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  padding: 20px 5vw;
  width: fit-content;
  /*max-width: 400px;*/
  height: fit-content;
  margin: 8vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h2 {
  /*border: 1px solid red;*/
  color : white;
  font-size: 2.5rem;
  margin: 20px;
}

.input-group {
  margin-bottom: 15px;
  width: 100%;
  text-align: left;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
}

input,
select {
  width: 26vw;
  height: 50px;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 10px;
  border: 0px solid red;
  outline: none;
  position: relative;
}

input::before, select::before {
  content: "sada";
  color: white;
  background-color: red;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.output {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  color: #adadad;
}

strong {
  color: #ff5733; /* Example color for the generated TOTP */
}

.error {
  color: red;
  font-weight: bold;
}

.output > .timer-progress-bar {
  /*border: 1px solid red;*/
  margin: 10px auto;
}

::ng-deep .p-button-icon {
  margin: 0 8px;
}

::ng-deep .p-button {
  /*border: 1px solid red;*/
  margin: 20px 0px 0 0;
  background-color: white;
  color: #132333;
}


