<div class="json-formatter">
  <div class="textarea-container">
    <!-- Textarea for JSON input -->
    <div class="input-container">
      <textarea [(ngModel)]="rawJson" (ngModelChange)="onJsonInputChange()" rows="10"
                placeholder="Paste your JSON here..." class="json-input"></textarea>
    </div>
    <div class="output-container">
      <div class="json-viewer-container">
        <ngx-json-viewer [json]="formattedJson"></ngx-json-viewer>
      </div>
    </div>

  </div>

  <!-- Display error message if JSON is invalid -->
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</div>
