/* json-formatter.component.css */
.json-formatter {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.textarea-container {
  width: 80vw;
  height: 85vh;
  display: flex;
  justify-content: space-between;
}

textarea {
  width: 48%;
  height: 100%;
  padding: 6px 12px;
  background: rgb(31, 32, 35);
  border: 1px solid rgb(60, 63, 68);
  border-radius: 4px;
  font-size: 20px;
  color: rgb(247, 248, 248);
  appearance: none;
  transition: border 0.15s ease 0s;
  line-height: 1.5;
}

textarea:focus {
  outline: none;
  box-shadow: none;
  border-color: rgb(100, 153, 255);
}

textarea:focus {
  border: 2px solid rgb(124, 138, 255);
  outline: none;
}

button {
  align-self: flex-start;
  padding: 5px 10px;
  font-size: 16px;
}

.error {
  color: red;
  margin-top: 10px;
}


