<div class="navbar">
  <div class="logo">
    DevAid
  </div>
  <div class="center-div">
    <div class="menus">
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#services">Tools</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
    <div class="searchbox">
      <input type="text" name="searchbox" id="searchbox" placeholder="Search Tool Here...">
    </div>
  </div>
  <div class="other"></div>
</div>
