/* hex-generator.component.css */
.hex-generator {
  border: 1px solid red;
  width: 100vw;
  min-height: 92vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h2 {
  /*border: 1px solid red;*/
  width: 100%;
  height: fit-content;
  padding: 10px 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.output {
  /*border: 1px solid red;*/
  font-size: 18px;
  color: #b4b4b4;
  width: 80vw;
  height: fit-content;
  margin: 10px 0;
}

.fields-container {
  width: 80vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.fields-container > div.container {
  width: 60vh;
  height: fit-content;
  margin: 0 auto;
}

.fields-container  label {
  width: 100%;
  margin: 0 10px;
}

.ip-fields {
  width: 100%;
  height: 5vh;
  margin: 10px auto;
}

string {
  color: #ff5733; /* Example color for the generated hex string */
}
