<div class="hex-generator">
  <h2>Hexadecimal String Generator</h2>

  <div class="fields-container">

    <div class="container">
      <input
        pInputText
        id="stringLen"
        aria-describedby="username-help"
        [(ngModel)]="stringLen" placeholder="Enter String Length"
        class="ip-fields"/>
    </div>

    <div class="container">
      <input
        pInputText
        id="noOfStr"
        aria-describedby="username-help"
        [(ngModel)]="noOfOps" placeholder="No. Of Strings"
        class="ip-fields"/>
    </div>
    <p-button label="Generate Hex String" severity="contrast" (click)="generateHexString()"/>
  </div>

  <div class="output">
    <h2 *ngIf="hexStrings.length > 0">Generated Hex Output</h2>
    <p *ngFor="let hexStr of hexStrings" class="strings"><strong>{{ hexStr }}</strong></p>
    <div class="copy-btn-div">
      <p-button label={{copyBtnLabel}} icon="pi pi-clipboard" class="copy-btn" [text]="true" [raised]="true" *ngIf="hexStrings.length > 0" severity="secondary" (click)="copyHexStrings()"/>
    </div>
  </div>
</div>
