/* hex-generator.component.css */
.hex-generator {
  border: 1px solid red;
  width: 100vw;
  min-height: 92vh;
  margin: 0 auto;
  /*display: flex;*/
  /*flex-direction: column;*/
  align-items: center;
  text-align: center;
}

h2 {
  border: 1px solid red;
  width: 100%;
  height: fit-content;
  padding: 10px 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.output {
  font-size: 18px;
  color: #b4b4b4;
}

.fields-container {
  border: 1px solid gold;
  width: 80vw;
  height: fit-content;
}

strong {
  color: #ff5733; /* Example color for the generated hex string */
}
