<div class="hex-generator">
  <h2>Hexadecimal String Generator</h2>

  <div class="fields-container">

    <div class="container">
      <input
        pInputText
        id="stringLen"
        aria-describedby="username-help"
        [(ngModel)]="stringLen" placeholder="Enter String Length"
        class="ip-fields"/>
    </div>

    <div class="container">
      <input
        pInputText
        id="noOfStr"
        aria-describedby="username-help"
        [(ngModel)]="noOfOps" placeholder="No. Of Strings"
        class="ip-fields"/>
    </div>
    <p-button label="Generate Hex String" severity="contrast" (click)="generateHexString()"/>
  </div>

  <div class="output">
    <h2>Generated Hex Output</h2>
    <p *ngFor="let hexStr of hexStrings"><strong>{{ hexStr }}</strong></p>
  </div>
</div>
